= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f|
  = f.hidden_field :fb_eid
  = f.input :name
  = f.input :description
  = f.input :start_time, :as => :datetime_picker
  = f.input :end_time, :as => :datetime_picker
  = f.input :location
  = f.input :picture
  = f.input :ticket_uri
  = f.hidden_field :user_id
  = f.fields_for :place do |p|
    = p.input :street
    = p.input :city
    = p.hidden_field :state
    = p.input :country
    = p.hidden_field :zip
    = p.hidden_field :latitude
    = p.hidden_field :longitude
    = p.hidden_field :name
    = p.hidden_field :event_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn'
