
%table
  %tr
    %th pic
    %th Name
    %th Start time
    %th End time
    %th Location
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td
        %img{ :title => "", :src => "http://graph.facebook.com/#{"#{event.raw_attributes[:id]}"}/picture" }
      %td= "#{event.raw_attributes[:name]}"
      %td= "#{event.raw_attributes[:start_time]}"
      %td= "#{event.raw_attributes[:end_time]}"
      %td= "@#{event.raw_attributes[:location]}"
      %td= link_to 'import_event', import_event_path("#{event.raw_attributes[:id]}"), :class => "btn"
      
