- model_class = Place
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:street) + ':'
  %br
  = @place.street
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @place.city
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @place.state
%p
  %strong= model_class.human_attribute_name(:country) + ':'
  %br
  = @place.country
%p
  %strong= model_class.human_attribute_name(:zip) + ':'
  %br
  = @place.zip
%p
  %strong= model_class.human_attribute_name(:latitude) + ':'
  %br
  = @place.latitude
%p
  %strong= model_class.human_attribute_name(:longitude) + ':'
  %br
  = @place.longitude
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @place.name
%p
  %strong= model_class.human_attribute_name(:event_id) + ':'
  %br
  = @place.event_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), places_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_place_path(@place), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), place_path(@place), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
